<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div>
    <a href="/" title="Home" style="color: rgb(0, 0, 0);"><h1 class="title">ASCII-ART-WEB</h1></a>
    <form action="Download" method="post">
        <textarea name="Download" id="" class="text2" readonly>
{{.}}</textarea>
<br>
            <input type="submit" value="Download" class="nb">
</form>
</div>
   

</body>

</html>